<header>
  <section>
    <span th:text="|전체 새로고침 수 : ${allVisitCount} 회|"></span>
    <span th:text="|이번주 새로고침 수 : ${weeklyVisitCount} 회|"></span>
  </section>
  <section id="header-icons">
    <i class="fa-brands fa-html5" style="color: #e65100;"></i>
    <i class="fa-brands fa-js" style="color: #FFD43B;"></i>
    <i class="fa-brands fa-css3-alt" style="color: #74C0FC;"></i>
    <i class="fa-brands fa-java" style="color: #ff0000;"></i>
    <i class="fa-brands fa-github" style="color: #ffffff;"></i>
    <i class="fa-brands fa-amazon-pay" style="color: #ff0000;"></i>
    <i class="fa-brands fa-chrome" style="color: #5c98ff;"></i>
    <i class="fa-brands fa-figma" style="color: #63E6BE;"></i>
    <i class="fa-brands fa-react" style="color: #74C0FC;"></i>
  </section>
</header>