<header class="userTheme-backgroundColor70 userTheme-borderBottom">
  <section>
    <span th:text="|전체 새로고침 수 : ${allVisitCount} 회|"></span>
    <span th:text="|이번주 새로고침 수 : ${weeklyVisitCount} 회|"></span>
  </section>
  <section id="header-icons">
    <i class="fa-brands fa-html5"></i>
    <i class="fa-brands fa-js"></i>
    <i class="fa-brands fa-css3-alt"></i>
    <i class="fa-brands fa-java"></i> 
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-amazon-pay"></i>
    <i class="fa-brands fa-chrome"></i>
    <i class="fa-brands fa-figma"></i>
    <i class="fa-brands fa-react"></i>
  </section>
</header>