<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.portpolio.main.mapper.MainMapper">

	<insert id="insertCount">
		MERGE INTO VISIT V
		USING (SELECT TO_CHAR(SYSDATE, 'YYMMDD') AS CURRENT_DATE FROM DUAL) D
		ON (V.VISIT_NO = D.CURRENT_DATE)
		WHEN MATCHED THEN
		    UPDATE SET V.VISIT_COUNT = V.VISIT_COUNT + 1
		WHEN NOT MATCHED THEN
		    INSERT (VISIT_NO, VISIT_COUNT)
		    VALUES (D.CURRENT_DATE, 1)
	</insert>
	
	<select id="selectAllVisitCount" resultType="string">
		SELECT
			TO_CHAR(SUM(VISIT_COUNT), 'FM999,999,999') AS WEEKLY_VISIT_COUNT
		FROM VISIT
	</select>

	<select id="selectWeeklyVisitCount" resultType="string">
		SELECT TO_CHAR(SUM(VISIT_COUNT), 'FM999,999,999') AS ALL_VISIT_COUNT
		FROM VISIT
		WHERE TO_DATE(VISIT_NO, 'YYMMDD') > SYSDATE-7
	</select>
	
	<select id="getComments" resultType="Comment">
		SELECT
			COMMENT_NO,
			WRITER,
			CONTENT,
			<![CDATA[	
			CASE
				WHEN CURRENT_DATE - REG_DATE < 1/24/60
				THEN FLOOR( (CURRENT_DATE - REG_DATE) *60 *60 *24 ) || '초 전'
				
				WHEN CURRENT_DATE - REG_DATE < 1/24
				THEN FLOOR( (CURRENT_DATE - REG_DATE) *60 *24 ) || '분 전'
				
				WHEN CURRENT_DATE - REG_DATE < 1
				THEN FLOOR( (CURRENT_DATE - REG_DATE) *24 ) || '시간 전'
				
				ELSE TO_CHAR(REG_DATE, 'YYYY-MM-DD')
				
			END AS "REG_DATE"
			]]>
		FROM "COMMENT"
		WHERE
			DEL_FL = 'N'
		ORDER BY COMMENT_NO ASC
	</select>
	
	<insert id="writeComment"
			parameterType="Comment"
			useGeneratedKeys="true">
		
		<selectKey order="BEFORE" resultType="_int"
				   keyProperty="commentNo">
			SELECT SEQ_COMMENT_NO.NEXTVAL FROM DUAL		   
		</selectKey>
		
		INSERT INTO "COMMENT"
		VALUES(
			#{commentNo},
			#{writer},
			#{content},
			CAST(SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul' AS DATE),
			DEFAULT
			)
	</insert>
	
	<select id="selectComment" resultType="Comment">
	SELECT
		COMMENT_NO,
		WRITER,
		CONTENT,
		<![CDATA[	
		CASE
			WHEN CURRENT_DATE - REG_DATE < 1/24/60/2
			THEN '방금전'
			
			WHEN CURRENT_DATE - REG_DATE < 1/24/60
			THEN FLOOR( (CURRENT_DATE - REG_DATE) *60 *60 *24 ) || '초 전'
			
			WHEN CURRENT_DATE - REG_DATE < 1/24
			THEN FLOOR( (CURRENT_DATE - REG_DATE) *60 *24 ) || '분 전'
			
			WHEN CURRENT_DATE - REG_DATE < 1
			THEN FLOOR( (CURRENT_DATE - REG_DATE) *24 ) || '시간 전'
			
			ELSE TO_CHAR(REG_DATE, 'YYYY-MM-DD')
			
		END AS "REG_DATE"
		]]>
	FROM "COMMENT"
	WHERE
		DEL_FL = 'N'
	AND COMMENT_NO = #{commentNo}
	</select>
	
</mapper>