/* commons */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "MaruBuri";
}
body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden
}
a{
  text-decoration: none;
}
a:hover{
  color: #36a0f7 !important;
  text-decoration: underline;
}
#backgroundBox{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  min-width: 1600px;
  height: auto;
  z-index: -1;
}
#backgroundBox>img{
  width: 100%;
  height: auto;
  filter: brightness(15%);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
iframe {
  max-width: 100%;
  height: auto;
  border: none;
}


/* headers */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
}
header>section:first-child{
  height: 30%;
  text-align: right;
}
header>section:first-child>span:last-child{
  color: #008cff  !important;
}
header>section:last-child{  height: 70%;}
#header-icons{
  position: relative;
  font-size: 4em;
}
#header-icons>i{
  position: absolute;
  top: 0;
  left: 110vw;
}
.fa-html5 { color: #e65100 !important; }
.fa-js { color: #FFD43B !important; }
.fa-css3-alt { color: #74C0FC !important; }
.fa-java { color: #ff0000 !important; }
.fa-amazon-pay { color: #ff0000 !important; }
.fa-chrome { color: #5c98ff !important; }
.fa-figma { color: #63E6BE !important; }
.fa-react { color: #74C0FC !important; }
.fa-gear-code { color: #74C0FC !important; }
.fa-loader { --fa-primary-color: #5291ff !important; --fa-secondary-color: #5291ff !important; }
.fa-comment { --fa-primary-color: #fbff00 !important; --fa-secondary-color: #fbff00 !important; }
.fa-circle-t { color: #fe5949 !important; }


/* footers */
footer{
  position: sticky;
  bottom: -15vh;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  width: 100vw;
  height: 20vh;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-selector{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 4vh;
  padding: 0 30px 0;
  font-size: 1.5em;
}
.footer-selector>*{
  margin: 0 10px;
}
.footer-contents{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 16vh;
  /* padding: 0 30px 0; */
}
#comment, #gear:hover{
  cursor: pointer;
}
#loader{
  display: none;
}
#themeList-background{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
#themeList-background>div{
  width: 30%;
  height: 80%;
  margin: 3px 10px;
  border-radius: 5px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#themeList-background>div:hover{
  cursor: pointer;
}
#themeList-background>div:first-child{
  background-color: black;
  color: white  !important;
}
#themeList-background>div:last-child{
  background-color: white;
  color: black  !important;
}
#comments-board{ /* 댓글부분 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-top: 5px;
}
#commentLists {
  width: 100%;
  height: 60%;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-y: auto;
}

#commentLists > .commentRow {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 24px;
}
#commentLists > .commentRow > td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#commentLists > .commentRow > td:first-child { /* 내용 + 작성시간 */
  min-width: 0;
  width: 80%;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#commentLists > .commentRow > td:nth-child(2) { /* 작성자 식별코드 */
  min-width: 80px;
  width: 120px;
  max-width: 120px;
  padding-left: 5px;
  flex-grow: 0;
}
#commentLists > .commentRow > td:first-child > div:first-child { /* 내용 */
  overflow: auto;
  white-space: nowrap;
}
#commentLists > .commentRow > td:first-child > div:first-child::-webkit-scrollbar {
  /* 스크롤바 숨기기 */
  display: none; /* Webkit 기반 브라우저 (Chrome, Edge, Safari)에서 스크롤바 숨김 */
}
#commentLists > .commentRow > td:first-child > div:first-child {
  scrollbar-width: none; /* Firefox에서 스크롤바 숨김 */
  -ms-overflow-style: none; /* Internet Explorer에서 스크롤바 숨김 */
}
#commentLists > .commentRow > td:first-child > div:nth-child(2) { /* 작성시간 */
  color: grey;
  font-size: 0.8em;
  align-self: flex-end;
  flex-grow: 1;
  min-width: 0;
  width: 80px;
  flex-shrink: 0;
}
.comments-enter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
}
#comment-input{
  width: 50%;
  margin: 0 10px;
}
#comment-enter{
  width: 80px;
  height: 24px;
  margin: 3px 10px;
  background-color: #36a0f7;
  border-radius: 5px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comment-enter:hover{
  cursor: pointer;
}


/* slider */
.slider{
  position: fixed;
  top: 20%;
  left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 20px;
  border-radius: 25px;
}
.slider>a{
  margin: 10px 0;
}

/* contents */
main{
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
}
main>.contents-section{
  min-height: 45vh;
  min-width: 60vw;
  max-width: 90vw;
  padding: 2%;
  border-radius: 25px;
  margin: 50px auto;
  opacity: 0;
  visibility: visible;
}
.rowbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.colbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.harf-row{
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
.title-col{
  width: 100%;
  margin: 20px 0;
}
.contents-col{
  width: 100%;
  flex-grow: 1;
}
.img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 프로필 */
#profile-img{
  width: auto;
  max-height: 40vh;
  align-self: center;
}
#profile-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#email:hover,
#phone:hover{
  cursor:pointer;
  color: #008cff !important;
  text-decoration: underline;
}
.skill-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
}
.skill-box>.link-none{
  margin: 5px;
  padding: 5px;
  min-width: 100px;
  min-height: 50px;
  border: 1px solid #008cff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.skill-box>.link-on{
  margin: 5px;
  padding: 5px;
  min-width: 100px;
  min-height: 50px;
  border: 1px solid #e65100;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
#mainSkill-box>.link-none:hover{
  background-color: #ffffff15;
}
.skill-box>.link-on:hover{
  background-color: #ffffff75;
  color: black !important;
}
#link-icon{
  font-size: 30px;
  margin-top: auto;
}
#profile-box>h1{
  margin: 30px 0;
}
#profile-box>h4{
  margin-bottom: 20px;
}
#profile-box>p{
  margin-bottom: 10px;
}

/* 세미/ 파이널 */
.project-contents ul{
  list-style: none; /* 기본 마커 제거 */
}
.project-contents li{
  overflow-x: auto;
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
}
.project-contents li::before {/* 마커설정 */
  content: "•";
  position: absolute;
  top: 0;
  left: -13px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.4;
}
#final-img,
#semi-img{
  width: 100%;
  height: auto;
  max-width: 800px;
}

#final-erd,
#semi-erd{
  width: 300px;
  height: auto;
}
.project-contents table{
  border-collapse: collapse;
}
.project-contents table th{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-wrap: nowrap;
}
.project-contents table td{
  min-width: 380px;
  text-align: left;
  padding: 5px;
  text-wrap: nowrap;
}
.project-contents table caption{
  caption-side: top;
  text-align: left;
  padding-bottom: 5px;
}

/* 별거없는기록 */
#logSkill-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#logSkill-box > div{
  position: relative;
  padding: 5px;
  margin: 5px;
  border: #008cff 1px solid;
  border-radius: 5px;
}
#logSkill-box .skill-absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.7em;
  transform: translate(-50%, -50%);
  /* 가운데 정렬을 위한 추가 스타일 */
  width: max-content; /* 텍스트의 너비만큼만 차지 */
  text-align: center; /* 텍스트 중앙 정렬 */
  display: none;
}
#purchace-list li{
  margin: 10px 30px;
}
#fireBase-list li,
#log-contents li{
  margin: 10px 0;
}
#purchace-list li:nth-child(2n),
#fireBase-list li:nth-child(2n),
#log-contents li:nth-child(2n){
  list-style: none;
}

/* 깃허브에서 가져온 더 별거 없는거 */
#skillStack-section>.contents-col>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#skillStack-section>.contents-col>div:last-child>*{
  margin: 10px 0;
}
#skillStack-section>.contents-col>img{
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px;
  width: 76%;
}
.responsive-iframe {
  width: 100%;
  aspect-ratio: 6 / 4;
  border: none;
}
#skillStack-section2 li{
  margin: 20px 40px;
  font-size: 1.2em;
  white-space: nowrap;
}
#skillStack-section2 a{
  color: #008cff !important;
}

/* 쭉 쓰는 글 */
.skillStack2-section>.contents-col{
  position: relative;
}
.skillStack2-section .alone-img,
.skillStack2-section .shy-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1250px;
  height: 100%;
  margin-bottom: 70px;
}
.skillStack2-section .hidden-img{
  display: none;
  position: absolute;
  top: 0;
  z-index: 2;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  max-width: 1250px;
  height: 100%;
}
.shy-sticky>img,
.hidden-sticky>img,
.alone-img>img,
.shy-img>img,
.hidden-img>img{
  width: 100%;
  height: auto;
}
.img-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
}
.shy-sticky {
  position: relative;
  width: 90%;
  max-width: 1250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.shy-sticky img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  z-index: 1;
}
.shy-sticky img:nth-child(3) {
  opacity: 0;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 2;
}
.shy-sticky:hover img:nth-child(2) {
  opacity: 0;
}
.shy-sticky:hover img:nth-child(3) {
  opacity: 1;
}

@font-face {
  font-family: 'MaruBuri';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: 'MaruBuriBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'MaruBuriLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'MaruBuriExtraLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.ttf) format("truetype");
}