<section class="contents-section">
  <div class="harf-box">
    
  </div>
  <div class="harf-box" id="profile-box">
    <h1>박현준</h1>
    <h4>Park Hyunj Jun</h4>
    <p>
      <i class="fa-duotone fa-regular fa-envelopes" style="--fa-primary-color: #3b9eec; --fa-secondary-color: #ffffff;"></i>
      hyunj1017@naver.com
    </p>
    <p>
      <i class="fa-duotone fa-light fa-phone" style="--fa-primary-color: #137fd9; --fa-secondary-color: #137fd9;"></i>
      010-2113-3766
    </p>
    <div id="skill-box">
      <div>HTML</div>
      <div>JS</div>
      <div>CSS</div>
      <div>Oracle</div>
      <div>WebSocket</div>
      <div>Redis</div>
      <div>GitHub</div>
      <div>FireBase</div>
    </div>
    <div id="link-icon">
      <a href="https://github.com/HyunJ1017" target="_blank">
        <i class="fa-brands fa-github" style="color: #ffffff;"></i>
      </a>
      <a href="https://hyunj1017.tistory.com/" target="_blank">
        <i class="fa-solid fa-circle-t" style="color: #fe5949;"></i>
      </a>
    </div>
  </div>
</section>