<section class="contents-section colbox" id="skillStack-section">
  <div class="title-col">
    <h2>Git-CodeStack</h2>
  </div>
  <div class="contents-col rowbox">
    <div style="max-width: 600px; margin: 0 auto;" class="harf-row">
      <!-- Top Languages -->
      <iframe 
        class="responsive-iframe"
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=HyunJ1017" 
        frameborder="0">
      </iframe>
    </div>
    <div class="harf-row colbox">
      <!-- GitHub Stats -->
      <iframe 
          src="https://github-readme-stats.vercel.app/api?username=HyunJ1017&hide=contribs,prs&show_icons=true&theme=graywhite" 
          frameborder="0" 
          width="600px" 
          height="200px">
      </iframe>
      <!-- GitHub Streak -->
      <iframe 
          src="https://streak-stats.demolab.com?user=HyunJ1017" 
          frameborder="0" 
          width="600px" 
          height="200px">
      </iframe>
    </div>

  </div>
  <div class="contents-col rowbox">

    <img src="https://ghchart.rshah.org/HyunJ1017" alt="GitHub Contribution Chart" />

  </div>
</section>
<section class="contents-section rowbox" id="skillStack-section2">
  <div class="harf-row">
    <ul>
      <li>포트폴리오</li>
      <li>배포 : AWS</li>
      <li>DB : ORACLE Cloud</li>
      <li>Git : <a href="https://github.com/HyunJ1017/homework">https://github.com/HyunJ1017/homework</a></li>
    </ul>
  </div>
  <div class="harf-row">
    <ul>
      <li>서버시간 : <span id="clock-surver" th:text="${oracleTime}"></span></li>
      <li>로컬시간 : <span id="clock-system"></span></li>
    </ul>
  </div>
</section>