<section class="contents-section colbox skillStack2-section" id="stack-html">
  <div class="title-col">
    <h2>HTML-semi</h2>
  </div>
  <div class="contents-col rowbox">
    <div class="shy-img">
      <img src="/images/semi/semiProjectHtml.png" alt="세미사진">
    </div>
    <div class="hidden-img">
      <img src="/images/semi/semiProjectHtml2.png" alt="세미사진">
    </div>
  </div>
</section>
<section class="contents-section colbox skillStack2-section" id="stack-js">
  <div class="title-col">
    <h2>JavaScript-semi</h2>
  </div>
  <div class="contents-col rowbox">
    <div class="shy-img">
      <img src="/images/semi/semiProjectJs.png" alt="세미사진" style="max-width: 800px;">
    </div>
    <div class="hidden-img">
      <img src="/images/semi/semiProjectJs2.png" alt="세미사진" style="max-width: 800px;">
    </div>
  </div>
</section>
<section class="contents-section colbox skillStack2-section">
  <div class="title-col">
    <h2>채팅기능 설계</h2>
  </div>
  <div class="contents-col rowbox">
    <div class="alone-img">
      <img src="/images/semi/chatBuild.png" alt="세미사진">
    </div>
  </div>
</section>
<section class="contents-section colbox skillStack2-section" id="stack-oracle">
  <div class="title-col">
    <h2>OracleSQL-final</h2>
  </div>
  <div class="contents-col rowbox">
    <div class="harf-row">
      <div class="alone-img">
        <img src="/images/final/finalSQL.png" alt="파이널사진">
      </div>
    </div>
    <div class="harf-row" position="relative">
      <div class="img-container2">
        <div class="shy-sticky">
          <h3>SQL 구현화면</h3>
          <img src="/images/final/finalProjectSql.png" alt="파이널사진">
          <img src="/images/final/finalProjectSql2.png" alt="파이널사진">
          <ul id="purchace-list">
            <li>SQL 조회목록</li>
            <li>선택한 월, 검색할 이름에 맞는 작가들의 해당월 판매작품 수, 판매금액, 각 작품의 입금여부 체크</li>
            <li>기능 목적</li>
            <li>판매금이 모두 입금된 작가에 한해서 총 판매금 출력</li>
            
          </ul>
        </div>
      </div>
    </div>
  </div> 
</section>
<section class="contents-section colbox skillStack2-section" id="stack-fireBase">
  <div class="title-col">
    <h2>FireBase-final</h2>
  </div>
  <div class="contents-col rowbox">
    <div class="harf-row">
      <div class="alone-img" style="height: auto;">
        <img src="/images/final/finalFireBase.gif" alt="파이널사진">
      </div>
      <div style="width: 100%; position: relative;">
        <div class="shy-img">
          <img src="/images/final/finalFireBase2.png" alt="파이널사진">
        </div>
        <div class="hidden-img">
          <img src="/images/final/finalFireBase3.png" alt="파이널사진">
        </div>
      </div>
      <div style="width: 100%; position: relative;">
        <div class="shy-img">
          <img src="/images/final/finalFireBase4.png" alt="파이널사진">
        </div>
        <div class="hidden-img">
          <img src="/images/final/finalFireBase5.png" alt="파이널사진">
        </div>
      </div>
    </div>
    <div class="harf-row">
      <ul id="fireBase-list">
        <li>FireBase</li>
        <li>Google에서 제공하는 모바일 및 웹 앱 개발 플랫폼입니다. 앱 개발을 위한 다양한 서비스를 제공하여 개발자가 앱을 더 쉽고 빠르게 만들고 확장할 수 있도록 돕습니다.</li>
        <li>FireBase 데이터베이스를 이용한 프로젝트 이미지 공유</li>
        <li>Cloud Storage: 파일 저장을 위한 서비스입니다. 이미지, 비디오, 오디오 등 다양한 파일을 저장하고 관리할 수 있습니다.</li>
        <li>이미지 저장 및 조회</li>
      </ul>
    </div>
  </div> 
</section>