<section class="contents-section colbox skillStack2-section" id="stack-html">
  <div class="title-col">
    <h2>HTML-semi</h2>
  </div>
  <div class="contents-col rowbox">
    <div class="shy-img">
      <img src="/images/semi/semiProjectHtml.png" alt="세미사진">
    </div>
    <div class="hidden-img">
      <img src="/images/semi/semiProjectHtml2.png" alt="세미사진">
    </div>
  </div>
</section>
<section class="contents-section colbox skillStack2-section" id="stack-js">
  <div class="title-col">
    <h2>JavaScript-semi</h2>
  </div>
  <div class="contents-col rowbox">
    <div class="shy-img">
      <img src="/images/semi/semiProjectJs.png" alt="세미사진" style="max-width: 800px;">
    </div>
    <div class="hidden-img">
      <img src="/images/semi/semiProjectJs2.png" alt="세미사진" style="max-width: 800px;">
    </div>
  </div>
</section>
<section class="contents-section colbox skillStack2-section">
  <div class="title-col">
    <h2>채팅기능 설계</h2>
  </div>
  <div class="contents-col rowbox">
    <div class="alone-img">
      <img src="/images/semi/chatBuild.png" alt="세미사진">
    </div>
  </div>
</section>
<section class="contents-section colbox skillStack2-section" id="stack-oracle">
  <div class="title-col">
    <h2>OracleSQL-final</h2>
  </div>
  <div class="contents-col rowbox">
    <div class="harf-row">
      <div class="alone-img">
        <img src="/images/final/finalSQL.png" alt="파이널사진">
      </div>
    </div>
    <div class="harf-row" position="relative">
      <div class="img-container2">
        <div class="shy-sticky">
          <h3>SQL 구현화면</h3>
          <img src="/images/final/finalProjectSql.png" alt="파이널사진">
          <img src="/images/final/finalProjectSql2.png" alt="파이널사진">
        </div>
      </div>
    </div>
  </div> 
</section>